* {
	box-sizing: border-box;
}

body {
	background-color: #d4e7db;
}

a:hover {
	color: yellow;
}

.contenedor-floats {
	width: 300px;
	border: solid 1px black;
	overflow: hidden;
}

/* como está aplicado el box-sizing para todos los elementos, el padding y el border se descuentan de lo que se definió en el width y height */
.box01 {
	padding: 15px;
	border: solid 5px pink;
	margin: 5px;
	width: 100px;
	height: 100px;
	float: left;
	background-color: red;
}

.box02 {
	padding: 15px;
	border: solid 5px pink;
	margin: 5px;
	float: left;
	width: 100px;
	height: 100px;
	background-color: green;
}

.box03 {
	padding: 15px;
	border: solid 5px pink;
	margin: 5px;
	width: 100px;
	height: 100px;
	clear: both;
	background-color: blue;
	float: left;
}

.box04 {
	padding: 15px;
	border: solid 5px pink;
	margin: 5px;
	width: 100px;
	height: 100px;
	float: left;
	background-color: yellow;
}

.main-header {
	border: solid 2px red;
}
